.has-border-left-grey
  border-bottom: 1px solid var(--border-default-grey)

.cursor--pointer
  cursor: pointer

.sm-container
    width: 100%
    max-width: 550px

.is-flex
  display: flex

.flex-center
  justify-content: center
  align-items: center

.fr-card + .fr-card
  margin-left: 16px

.fr-btn--secondary.btn--no-border
  box-shadow: none

.fr-btn--secondary.btn--no-border:disabled
  box-shadow: none

.has-children-space-between
  display: flex
  justify-content: space-between

.btn-tab-activable
  &.-active
    border-bottom: 2px solid var(--text-action-high-blue-france)

.btn-tab-group-activable
  .-active
    border-bottom: 2px solid var(--text-action-high-blue-france)

.content-container
  &.is-editing, &:hover
    .toolbar
      opacity: 1
  .toolbar
    opacity: 0
    border-bottom: 1px solid var(--border-default-grey)
    display: flex
    justify-content: space-between
    color: var(--text-title-blue-france)
    margin: 0

.fr-text--disabled
  color: var(--text-disabled-grey)
