.fr-btn--no-border
  box-shadow: none !important

  min-height: 2rem !important

.fr-btn--no-y-padding
  padding-top: 0 !important
  padding-bottom: 0 !important

.has-border-bottom-grey
  border-bottom: 1px solid var(--border-default-grey)

.has-border-left-grey
  border-bottom: 1px solid var(--border-default-grey)

.cursor--pointer
  cursor: pointer

.sm-container
    width: 100%
    max-width: 550px

.is-flex
  display: flex

.flex-center
  justify-content: center
  align-items: center

.fr-card + .fr-card
  margin-left: 16px
