.has-border-left-grey
  border-bottom: 1px solid var(--border-default-grey)

.cursor--pointer
  cursor: pointer

.sm-container
    width: 100%
    max-width: 550px

.is-flex
  display: flex

.flex-center
  justify-content: center
  align-items: center

.fr-card + .fr-card
  margin-left: 16px

.fr-btn--secondary.btn--no-border
  box-shadow: none
